[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RSocrata"]
	path = RSocrata
	url = https://github.com/chicago/rsocrata
	shallow = true
	registered = true
